// When color definition differs for dark and light variant
// it gets @if ed depending on $variant
  /* Window Frames, Active */
  $win-frame-active-bg: #ccc;
  $win-frame-active-hl:#fff;
  $win-frame-active-sh:#999;
  $win-frame-active-handle-sh:#777;
  $win-frame-active-handle-hl:#000;
  $win-frame-active-border: #000;
  $win-frame-active-text: #000;
  $win-frame-active-btn-outer-sh: #888;
  $win-frame-active-btn-outer-hl: #fff;
  $win-frame-active-btn-outline: #222;
  $win-frame-active-btn-inner-hl: #ccc;
  $win-frame-active-btn-inner-sh: #888;
  $win-frame-active-btn-gradient-topleft: #999;
  $win-frame-active-btn-gradient-btmright: #fff;

  /* Window Content (background area), Active */
  $win-cnt-active-bg: #ddd;
  $win-cnt-active-hl: #fff;
  $win-cnt-active-sh: #aaa;
  $win-cnt-active-fg: #000;

  /* Window Frame, Inactive */
  $win-frame-inactive-bg: #ddd;
  $win-frame-inactive-fg: #777;
  $win-frame-inactive-border: #555;
  
  /* Window Content, Inactive */
  $win-cnt-inactive-bg: #eee;
  $win-cnt-inactive-fg: #777;

    /* Menus */
    $menu-sel-bg: #339;
    $menu-sel-fg: #fff;
    $menu-sel-hl: #66c;
    $menu-sel-sh: #008;
    $menu-border: #000;
    $menu-shadow: #222;
    $menu-sep-sh: #888;
    $menu-inner-sh: #999;
    $menu-inner-hl: #fff;
    $menu-disabled-fg: #777;
    $menu-fg: #000;
    $menu-bg: #ddd;
$base_color: if($variant == 'light', #ffffff, #222222);
$text_color: if($variant == 'light', #222222, #ffffff);
$bg_color: if($variant == 'light', #dddddd, #444444);
$fg_color: if($variant == 'light', #000000, #ffffff);

$light_bg_color: if($variant == 'light', #eeeeee, #666666);
$dark_bg_color: if($variant == 'light', #cccccc, #222222);
$menu_highlight_color: #333399;
$menu_text_highlight_color: if($variant == 'light', #ffffff, #000000);
$menu_text_color: $fg_color;

$selected_fg_color: #ffffff;
$selected_bg_color: if($variant == 'light', #6666cc, #333399);
$selected_borders_color: if($variant== 'light',#333339, #008);
$borders_color: if($variant == 'light', darken($bg_color,30%), darken($bg_color,12%));
$borders_edge: if($variant == 'light', transparentize(white, 0.2), transparentize($fg_color, 0.93));
$link_color: if($variant == 'light', #6666cc, lighten(#6666cc,20%));
$link_visited_color: if($variant == 'light', darken($selected_bg_color,20%), lighten($selected_bg_color,10%));
$top_hilight: $borders_edge;
$dark_fill: mix($borders_color, $bg_color, 35%);
$headerbar_color: if($variant == 'light', $bg_color, darken($bg_color, 3%));
$menu_color: $bg_color;
$popover_bg_color: $menu_color;
$popover_hover_color: $menu_highlight_color;

$scrollbar_bg_color: if($variant == 'light', mix($bg_color, $fg_color, 80%), mix($base_color, $bg_color, 50%));
$scrollbar_slider_color: $bg_color;
$scrollbar_slider_hover_color: mix($fg_color, $bg_color, 80%);
$scrollbar_slider_active_color: if($variant=='light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 10%));

$warning_color: #f57900;
$error_color: #cc0000;
$success_color: if($variant == 'light', #4e9a06, darken(#4e9a06,10%));
$destructive_color: if($variant == 'light', #ef2929, darken(#ef2929,10%));

$osd_fg_color: #eeeeee;
$osd_text_color: white;
$osd_bg_color: transparentize(#222, 0.2);
$osd_insensitive_bg_color: transparentize(#222, 0.2);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize(black, 0.3);

$sidebar_bg_color: if($variant == 'light', #dae0e6, #222);
$base_hover_color: transparentize($fg_color, 0.95);

$tooltip_borders_color: transparentize(white, 0.9);
$shadow_color: transparentize(black, 0.9);

$drop_target_color: #4e9a06;

$panel_bg_color: #444444;
$panel_fg_color: #ffffff;

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant == 'light', darken($base_color, 1%), lighten($base_color, 1%));
$backdrop_text_color: mix($text_color, $backdrop_base_color, 80%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color: if($variant == 'light', darken($backdrop_bg_color, 15%), lighten($backdrop_bg_color, 15%));
$backdrop_selected_fg_color: if($variant == 'light', darken($base_color, 50%), $backdrop_text_color);
$backdrop_selected_bg_color: if($variant == 'light', darken($base_color, 17%), lighten($bg_color, 17%));
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 35%);
$backdrop_sidebar_bg_color: mix($backdrop_bg_color, $backdrop_base_color, 50%);

$backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
$backdrop_scrollbar_slider_color: lighten($scrollbar_slider_color, 35%);

$backdrop_menu_color: if($variant == 'light', $backdrop_base_color, mix($backdrop_bg_color, $backdrop_base_color, 20%));
